/* general styles  */


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* mobile styles */
body{
    font-size: 16px;
    font-family: serif;
    color: #fff;
    background-color: #fff;
    min-height:100vh;
    width:100vw;
}

header{
    height: 60vh;
    width:100%;
    margin:0;
    padding:2rem;
    background-color: #301934;
    /* border-radius: 0px 0px 25% 25%; */
    border-bottom-left-radius: 100% 30%;
    border-bottom-right-radius: 100% 30%;
    position: relative;
}

#phone-image{
    height: 300px;
    width: 400px;
    position: absolute;
 
    
}

.nav-bar{
    position: relative;
    top:0;
    left:0;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.5rem;
}

#nav-link{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25rem;
    color:#fff;
    text-decoration:underline solid #41fea1;
}

#header-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
}

h1{
    text-align: center;
}

h1 span{
    text-decoration:underline solid #41fea1;
}

#header-btn{
    background-color: #41fea1;
    color:#301934;
    padding: 1rem 1.5rem;
    font-size: 1.25rem;
    font-weight: 600;
   border: 1px solid #41fea1;
   cursor:pointer;
}

#header-btn:hover{
    background-color: #301934;
    color:#41fea1;
}

#background-design{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 500px;
    
}

#design-image1{
    display: none;
 }
 
 
 #design-image2{
   display: none; 
 }

 .section-one{
    display: flex;
    flex-direction: column;
    color: purple;
    font-size: 16px;
 }



/* tablet styles */
@media screen and (min-width:480px) {

    #design-image1{
        position: absolute;
        top: 50px;
        left: 0px; 
        display: block;
     }
     
     
     #design-image2{
        position: absolute;
        top: 150px;
        right: 0px; 
        display: block;
     }
}


/* desktop styles */
@media screen and (min-width:820px) {
    
}




